name: Pull Request CI

on:
  pull_request:
    branches:
      - main

jobs:
  validate_html:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install HTMLHint
        run: npm install -g htmlhint

      - name: Run HTML validation
        run: htmlhint .
